/* Wide */
@media (min-width: 1200px) {
    body {
        margin: 0;
        padding: 0;
    }


    main {
        display: flex;
        flex-wrap: wrap;
    }

    #map-container {
        left: 50vw;
        top: 2em;
        position: fixed;
    }

    nav {
        position: fixed;
        z-index: 1;
    }

    #map-container canvas {
        width: 45vw;
        height: 45vw;
    }

    #map-container,
    #overlay {
        width: 45vw;
    }

    #overlay {
        position: relative;
        width: 45vw;
        margin-top: 2em;
    }

    #chart-container canvas {
        width: 100%;
    }

    #annotation-container {
        position: absolute;
        width: 100%;
        top: 0;
    }

    #annotation-container canvas {
        width: 100%;
    }
}

/* Narrow */
@media (max-width: 1200px) {
    body {
        margin: 5vmin;
        padding: 0;
    }


    #map-container canvas {
        width: 90vmin;
        height: 90vmin;
    }

    #overlay {
        position: relative;
        width: 90vw;
    }

    #chart-container canvas {
        width: 100%;
    }

    #annotation-container {
        position: absolute;
        width: 100%;
        top: 0;
    }


    #annotation-container canvas {
        width: 100%;
    }
}

nav, aside {
    text-align: center;
    margin: 0.5em;
}

input[type="number"] {
    width: 5em;
}