nav {
    top: 0;
    position: fixed;
    z-index: 2;
    background-color: white;
    text-wrap: nowrap;
}

#text-container {
    display:flex;
}

#map-container {
    position: fixed;
    z-index: 1;
    top: 2em;
    background-color: white;
}

select {
    max-width: 30vw;
}

/* Wide */
@media (min-width: 1200px) {
    body {
        margin: 0;
        padding: 0;
    }


    main {
        display: flex;
        flex-wrap: wrap;
    }

    #map-container {
        left: 50vw;
    }

    #map-container canvas {
        width: 45vw;
        height: 45vw;
    }

    #map-container,
    #overlay {
        width: 45vw;
    }

    #overlay {
        position: relative;
        width: 45vw;
    }

    #chart-container canvas {
        width: 100%;
    }

    #annotation-container {
        position: absolute;
        width: 100%;
        top: 0;
    }

    #annotation-container canvas {
        width: 100%;
    }
}

/* Narrow */
@media (max-width: 1200px) {
    body {
        margin: 5vmin;
        padding: 0;
    }


    #map-container canvas {
        width: 90vmin;
        height: 90vmin;
    }

    #overlay {
        position: relative;
        width: 90vw;
        padding-top: 100vw;
    }

    #chart-container canvas {
        width: 100%;
    }

    #annotation-container {
        position: absolute;
        width: 100%;
        top: 0;
    }


    #annotation-container canvas {
        width: 100%;
    }
}

nav,
aside {
    text-align: center;
    margin: 0.5em;
}

input[type="number"] {
    width: 3em;
}